[workspace]

[package]
name = "cargo-leptos"
license = "MIT"
repository = "https://github.com/leptos-rs/cargo-leptos"
description = "Build tool for Leptos."
categories = ["development-tools", "wasm", "web-programming"]
keywords = ["leptos"]
version = "0.1.7"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.0", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
toml = "0.7"
anyhow = "1.0"
log = "0.4"
flexi_logger = "0.25"
lightningcss = { version = "1.0.0-alpha.39", features = ["browserslist"] }
tokio = { version = "1.4", default-features = false, features = ["full"] }
axum = { version = "0.5", features = ["ws"] }
# not using notify 5.0 because it uses Crossbeam which has an issue with tokio
notify = "4.0"
lazy_static = "1.4"
regex = "1.7"
which = "4.3"
cargo_metadata = { version = "0.15", features = ["builder"] }
serde_json = "1.0"
wasm-bindgen-cli-support = "0.2"
ansi_term = "0.12"
once_cell = "1.16"
seahash = "4.1"
reqwest = { version = "0.11", features = [
	"blocking",
	"__tls",
	"default-tls",
	"native-tls-crate",
], default-features = false }
dirs = "4.0"
camino = "1.1"
dotenvy = "0.15"
itertools = "0.10"
derive_more = "0.99"
envy = "0.4"
flate2 = "1.0"
zip = { version = "0.6", default-features = false, features = ["deflate"] }
tar = "0.4"
dunce = "1.0"
leptos_hot_reload = "0.2"

[dev-dependencies]
insta = { version = "1.23", features = ["yaml"] }
temp-dir = "0.1"

[features]
full_tests = []
no_downloads = []
