
# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.0.4"
# The preferred Rust toolchain to use in CI (rustup toolchain syntax)
rust-toolchain-version = "1.67.1"
# CI backends to support (see 'cargo dist generate-ci')
ci = ["github"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
  "x86_64-unknown-linux-gnu",
  "x86_64-apple-darwin",
  "x86_64-pc-windows-msvc",
  "aarch64-apple-darwin",
]

[package]
name = "cargo-leptos"
license = "MIT"
repository = "https://github.com/leptos-rs/cargo-leptos"
description = "Build tool for Leptos."
categories = ["development-tools", "wasm", "web-programming"]
keywords = ["leptos"]
version = "0.2.0"
edition = "2021"
rust-version = "1.71"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
brotli = "3.3"
clap = { version = "4.0", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
anyhow = "1.0"
libflate = "2"
log = "0.4"
flexi_logger = "0.27"
lightningcss = { version = "1.0.0-alpha.47", features = ["browserslist"] }
tokio = { version = "1.4", default-features = false, features = ["full"] }
axum = { version = "0.6", features = ["ws"] }
# not using notify 5.0 because it uses Crossbeam which has an issue with tokio
notify = "4.0"
lazy_static = "1.4"
which = "4.4"
cargo_metadata = { version = "0.18", features = ["builder"] }
serde_json = "1.0"
wasm-bindgen-cli-support = "0.2"
ansi_term = "0.12"

seahash = "4.1"
reqwest = { version = "0.11", features = [
  "blocking",
  "__tls",
  "default-tls",
  "native-tls-crate",
  "json",
], default-features = false }
dirs = "5.0"
camino = "1.1"
dotenvy = "0.15"
itertools = "0.11"
derive_more = "0.99"
flate2 = "1.0"
zip = { version = "0.6", default-features = false, features = ["deflate"] }
tar = "0.4"
dunce = "1.0"
bytes = "1.4"
leptos_hot_reload = { git = "https://github.com/leptos-rs/leptos", version = "0.5" }
pathdiff = { version = "0.2.1", features = ["camino"] }
semver = "1.0.19"
async-trait = "0.1.72"

[dev-dependencies]
insta = { version = "1.31.0", features = ["yaml"] }
temp-dir = "0.1"

[features]
full_tests = []
no_downloads = []

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"
