
# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.11.1"
# CI backends to support
ci = ["github"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["aarch64-apple-darwin", "x86_64-apple-darwin", "x86_64-unknown-linux-gnu", "x86_64-unknown-linux-musl", "x86_64-pc-windows-msvc"]
# The installers to generate for each app
installers = ["shell", "powershell"]
# Publish jobs to run in CI
pr-run-mode = "plan"
# The archive format to use for windows builds (defaults .zip)
windows-archive = ".tar.gz"
# The archive format to use for non-windows builds (defaults .tar.xz)
unix-archive = ".tar.gz"
# Where to host releases
hosting = ["axodotdev", "github"]

[package]
name = "cargo-leptos"
license = "MIT"
repository = "https://github.com/leptos-rs/cargo-leptos"
description = "Build tool for Leptos."
categories = ["development-tools", "wasm", "web-programming"]
keywords = ["leptos"]
version = "0.2.17"
edition = "2021"
rust-version = "1.71"
authors = ["Henrik Akesson", "Greg Johnston", "Ben Wishovich"]

[package.metadata.wix]
upgrade-guid = "D53446E4-A943-4A64-823F-4CB4855A4B09"
path-guid = "A08FA8BB-CD5A-4C75-85D0-E9DE2B374C14"
license = false
eula = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
brotli = "6"
clap = { version = "4.0", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
anyhow = "1.0"
libflate = "2"
log = "0.4"
flexi_logger = "0.27"
lightningcss = { version = "1.0.0-alpha.57", features = ["browserslist"] }
tokio = { version = "1.4", default-features = false, features = ["full"] }
axum = { version = "0.7", features = ["ws"] }
# not using notify 5.0 because it uses Crossbeam which has an issue with tokio
notify = "4.0"
lazy_static = "1.4"
which = "6"
cargo_metadata = { version = "0.18", features = ["builder"] }
serde_json = "1.0"
wasm-bindgen-cli-support = "=0.2.92"
ansi_term = "0.12"

reqwest = { version = "0.11", features = [
    "blocking",
    "rustls-tls",
    "json",
], default-features = false }
seahash = "4.1"
dirs = "5.0"
camino = "1.1"
dotenvy = "0.15"
itertools = "0.13"
derive_more = "0.99"
flate2 = "1.0"
zip = { version = "0.6", default-features = false, features = ["deflate"] }
tar = "0.4"
dunce = "1.0"
bytes = "1.4"
leptos_hot_reload = "0.6"
pathdiff = { version = "0.2.1", features = ["camino"] }
semver = "1.0.19"
async-trait = "0.1.72"
md-5 = "0.10.6"
base64ct = { version = "1.6.0", features = ["alloc"] }

[dev-dependencies]
insta = { version = "1.31.0", features = ["yaml"] }
temp-dir = "0.1"

[features]
full_tests = []
no_downloads = []

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"
